In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv(r'crop.csv')
df.info()

C:\Users\DELL\AppData\Local\Temp\ipykernel_11316\1268094531.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'crop.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881540 entries, 0 to 881539
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   DateTime         881540 non-null  object
 1   NOx              811897 non-null  float64
 2   NO2              812155 non-null  float64
 3   NO               817598 non-null  float64
 4   SiteID           881540 non-null  int64
 5   PM10             182729 non-null  float64
 6   NVPM10           63476 non-null   float64
 7   VPM10            63476 non-null   float64
 8   NVPM2.5          60711 non-null   float64
 9   PM2.5            126875 non-null  float64
 10  VPM2.5           60711 non-null   float64
 11  CO               35186 non-null   float64
 12  O3               122125 non-null  float64
 13  SO2              21989 non-null   float64
 14  Temperature      104395 non-null  float64
 15  RH               27774 non-null   float64
 16  Air Pressure     0 non-null       float64
 17  Location         881540 non-null  object
 18  geo_point_2d     881540 non-null  object
 19  DateStart        849451 non-null  object
 20  DateEnd          179023 non-null  object
 21  Current          881540 non-null  bool
 22  Instrument Type  881540 non-null  object
dtypes: bool(1), float64(15), int64(1), object(6)
memory usage: 148.8+ MB

In [3]:
df.describe()

,NOx,NO2,NO,SiteID,PM10,NVPM10,VPM10,NVPM2.5,PM2.5,VPM2.5,CO,O3,SO2,Temperature,RH,Air Pressure
count,811897.000000,812155.000000,817598.000000,881540.00000,182729.000000,63476.000000,63476.000000,60711.000000,126875.000000,60711.000000,35186.000000,122125.000000,21989.000000,104395.000000,27774.000000,0.0
mean,98.497517,39.488015,39.098264,349.09223,18.570911,13.975167,3.445466,9.139141,11.522119,3.292385,0.370619,45.152186,1.758152,9.489511,18.555307,NaN
std,119.136521,28.535753,62.623487,124.56917,12.241658,10.617677,3.030755,9.852225,10.692900,2.902235,0.269432,24.522717,2.266550,5.463767,12.061627,NaN
min,-1.019800,-1.206200,-1.500000,203.00000,-4.000000,-4.200000,-7.000000,-4.700000,-5.000000,-6.600000,0.100000,-3.492480,0.000000,-6.000000,0.000000,NaN
25%,28.257200,18.750000,5.000000,215.00000,10.500000,7.500000,1.500000,3.600000,5.500000,1.500000,0.200000,28.000000,0.000000,5.600000,0.013000,NaN
50%,60.250000,33.250000,17.088005,375.00000,15.800000,11.500000,3.000000,6.100000,8.687400,2.900000,0.300000,47.797000,0.000000,9.300000,22.332100,NaN
75%,120.000000,53.000000,45.000000,463.00000,23.200000,17.200000,4.800000,11.000000,14.000000,4.200000,0.500000,62.000000,3.000000,13.357700,27.255200,NaN
max,2027.000000,576.500000,1110.500000,672.00000,257.009000,188.000000,29.000000,258.000000,380.604400,26.000000,4.100000,181.588700,37.000000,31.685000,45.697200,NaN

In [4]:
df

,DateTime,NOx,NO2,NO,SiteID,PM10,NVPM10,VPM10,NVPM2.5,PM2.5,...,SO2,Temperature,RH,Air Pressure,Location,geo_point_2d,DateStart,DateEnd,Current,Instrument Type
0,2019-04-29 23:00:00+00:00,122.250000,49.250000,47.750000,501,30.400,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
1,2019-04-30 03:00:00+00:00,42.250000,35.250000,4.500000,501,20.275,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
2,2019-05-01 06:00:00+00:00,82.000000,48.500000,21.750000,501,28.125,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
3,2019-05-01 18:00:00+00:00,357.250000,117.750000,156.500000,501,27.700,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
4,2019-05-02 14:00:00+00:00,194.500000,73.250000,79.250000,501,23.775,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881535,2023-02-07 12:00:00+00:00,310.749908,79.097813,151.033870,501,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
881536,2023-02-07 12:00:00+00:00,157.616566,63.008375,61.702946,463,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Fishponds Road,"51.47804497171107, -2.535230274543903",2009-03-13T00:00:00+00:00,NaN,True,Continuous (Reference)
881537,2023-02-07 12:00:00+00:00,228.622528,62.537157,108.474798,672,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Marlborough Street,"51.45914197176008, -2.595432718360466",2021-07-01T00:00:00+00:00,NaN,True,Continuous (Reference)
881538,2023-02-07 14:00:00+00:00,198.958434,75.485843,80.472720,463,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Fishponds Road,"51.47804497171107, -2.535230274543903",2009-03-13T00:00:00+00:00,NaN,True,Continuous (Reference)
881539,2023-02-07 13:00:00+00:00,103.990594,47.646219,36.737659,203,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Brislington Depot,"51.441747180510106, -2.5599558321904605",2001-01-01T00:00:00+00:00,NaN,True,Continuous (Reference)

In [5]:
df_cleaned=df.dropna(subset=['SiteID', 'Location'])
df_cleaned

,DateTime,NOx,NO2,NO,SiteID,PM10,NVPM10,VPM10,NVPM2.5,PM2.5,...,SO2,Temperature,RH,Air Pressure,Location,geo_point_2d,DateStart,DateEnd,Current,Instrument Type
0,2019-04-29 23:00:00+00:00,122.250000,49.250000,47.750000,501,30.400,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
1,2019-04-30 03:00:00+00:00,42.250000,35.250000,4.500000,501,20.275,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
2,2019-05-01 06:00:00+00:00,82.000000,48.500000,21.750000,501,28.125,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
3,2019-05-01 18:00:00+00:00,357.250000,117.750000,156.500000,501,27.700,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
4,2019-05-02 14:00:00+00:00,194.500000,73.250000,79.250000,501,23.775,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881535,2023-02-07 12:00:00+00:00,310.749908,79.097813,151.033870,501,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
881536,2023-02-07 12:00:00+00:00,157.616566,63.008375,61.702946,463,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Fishponds Road,"51.47804497171107, -2.535230274543903",2009-03-13T00:00:00+00:00,NaN,True,Continuous (Reference)
881537,2023-02-07 12:00:00+00:00,228.622528,62.537157,108.474798,672,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Marlborough Street,"51.45914197176008, -2.595432718360466",2021-07-01T00:00:00+00:00,NaN,True,Continuous (Reference)
881538,2023-02-07 14:00:00+00:00,198.958434,75.485843,80.472720,463,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Fishponds Road,"51.47804497171107, -2.535230274543903",2009-03-13T00:00:00+00:00,NaN,True,Continuous (Reference)
881539,2023-02-07 13:00:00+00:00,103.990594,47.646219,36.737659,203,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Brislington Depot,"51.441747180510106, -2.5599558321904605",2001-01-01T00:00:00+00:00,NaN,True,Continuous (Reference)

In [6]:
df_cleaned

,DateTime,NOx,NO2,NO,SiteID,PM10,NVPM10,VPM10,NVPM2.5,PM2.5,...,SO2,Temperature,RH,Air Pressure,Location,geo_point_2d,DateStart,DateEnd,Current,Instrument Type
0,2019-04-29 23:00:00+00:00,122.250000,49.250000,47.750000,501,30.400,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
1,2019-04-30 03:00:00+00:00,42.250000,35.250000,4.500000,501,20.275,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
2,2019-05-01 06:00:00+00:00,82.000000,48.500000,21.750000,501,28.125,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
3,2019-05-01 18:00:00+00:00,357.250000,117.750000,156.500000,501,27.700,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
4,2019-05-02 14:00:00+00:00,194.500000,73.250000,79.250000,501,23.775,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881535,2023-02-07 12:00:00+00:00,310.749908,79.097813,151.033870,501,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
881536,2023-02-07 12:00:00+00:00,157.616566,63.008375,61.702946,463,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Fishponds Road,"51.47804497171107, -2.535230274543903",2009-03-13T00:00:00+00:00,NaN,True,Continuous (Reference)
881537,2023-02-07 12:00:00+00:00,228.622528,62.537157,108.474798,672,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Marlborough Street,"51.45914197176008, -2.595432718360466",2021-07-01T00:00:00+00:00,NaN,True,Continuous (Reference)
881538,2023-02-07 14:00:00+00:00,198.958434,75.485843,80.472720,463,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Fishponds Road,"51.47804497171107, -2.535230274543903",2009-03-13T00:00:00+00:00,NaN,True,Continuous (Reference)
881539,2023-02-07 13:00:00+00:00,103.990594,47.646219,36.737659,203,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Brislington Depot,"51.441747180510106, -2.5599558321904605",2001-01-01T00:00:00+00:00,NaN,True,Continuous (Reference)

In [7]:
df_cleaned['Instrument Type'] = df_cleaned['Instrument Type'].str.replace(r"[()]", "", regex=True)
df_cleaned

,DateTime,NOx,NO2,NO,SiteID,PM10,NVPM10,VPM10,NVPM2.5,PM2.5,...,SO2,Temperature,RH,Air Pressure,Location,geo_point_2d,DateStart,DateEnd,Current,Instrument Type
0,2019-04-29 23:00:00+00:00,122.250000,49.250000,47.750000,501,30.400,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous Reference
1,2019-04-30 03:00:00+00:00,42.250000,35.250000,4.500000,501,20.275,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous Reference
2,2019-05-01 06:00:00+00:00,82.000000,48.500000,21.750000,501,28.125,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous Reference
3,2019-05-01 18:00:00+00:00,357.250000,117.750000,156.500000,501,27.700,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous Reference
4,2019-05-02 14:00:00+00:00,194.500000,73.250000,79.250000,501,23.775,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous Reference
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881535,2023-02-07 12:00:00+00:00,310.749908,79.097813,151.033870,501,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,NaN,True,Continuous Reference
881536,2023-02-07 12:00:00+00:00,157.616566,63.008375,61.702946,463,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Fishponds Road,"51.47804497171107, -2.535230274543903",2009-03-13T00:00:00+00:00,NaN,True,Continuous Reference
881537,2023-02-07 12:00:00+00:00,228.622528,62.537157,108.474798,672,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Marlborough Street,"51.45914197176008, -2.595432718360466",2021-07-01T00:00:00+00:00,NaN,True,Continuous Reference
881538,2023-02-07 14:00:00+00:00,198.958434,75.485843,80.472720,463,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Fishponds Road,"51.47804497171107, -2.535230274543903",2009-03-13T00:00:00+00:00,NaN,True,Continuous Reference
881539,2023-02-07 13:00:00+00:00,103.990594,47.646219,36.737659,203,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Brislington Depot,"51.441747180510106, -2.5599558321904605",2001-01-01T00:00:00+00:00,NaN,True,Continuous Reference

In [ ]:
for column in df_cleaned.columns:
    if df_cleaned[column].dtype in ['float64', 'int64']:
        df_cleaned[column] = df_cleaned[column].fillna(df_cleaned[column].mean())
    elif df_cleaned[column].dtype == 'object':
        df_cleaned[column] = df_cleaned[column].fillna(df_cleaned[column].mode()[0])
    elif df_cleaned[column].dtype == 'bool':
        df_cleaned[column] = df_cleaned[column].fillna(False)

In [ ]:

df_cleaned['Air Pressure'] = df_cleaned['Air Pressure'].fillna('DefaultValue')

In [15]:
df_cleaned

,DateTime,NOx,NO2,NO,SiteID,PM10,NVPM10,VPM10,NVPM2.5,PM2.5,...,SO2,Temperature,RH,Air Pressure,Location,geo_point_2d,DateStart,DateEnd,Current,Instrument Type
0,2019-04-29 23:00:00+00:00,122.250000,49.250000,47.750000,501,30.400000,13.975167,3.445466,9.139141,11.522119,...,1.758152,9.489511,18.555307,DefaultValue,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,2015-12-31T00:00:00+00:00,True,Continuous Reference
1,2019-04-30 03:00:00+00:00,42.250000,35.250000,4.500000,501,20.275000,13.975167,3.445466,9.139141,11.522119,...,1.758152,9.489511,18.555307,DefaultValue,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,2015-12-31T00:00:00+00:00,True,Continuous Reference
2,2019-05-01 06:00:00+00:00,82.000000,48.500000,21.750000,501,28.125000,13.975167,3.445466,9.139141,11.522119,...,1.758152,9.489511,18.555307,DefaultValue,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,2015-12-31T00:00:00+00:00,True,Continuous Reference
3,2019-05-01 18:00:00+00:00,357.250000,117.750000,156.500000,501,27.700000,13.975167,3.445466,9.139141,11.522119,...,1.758152,9.489511,18.555307,DefaultValue,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,2015-12-31T00:00:00+00:00,True,Continuous Reference
4,2019-05-02 14:00:00+00:00,194.500000,73.250000,79.250000,501,23.775000,13.975167,3.445466,9.139141,11.522119,...,1.758152,9.489511,18.555307,DefaultValue,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,2015-12-31T00:00:00+00:00,True,Continuous Reference
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881535,2023-02-07 12:00:00+00:00,310.749908,79.097813,151.033870,501,18.570911,13.975167,3.445466,9.139141,11.522119,...,1.758152,9.489511,18.555307,DefaultValue,Colston Avenue,"51.455269382758324, -2.596648828557916",2018-11-30T00:00:00+00:00,2015-12-31T00:00:00+00:00,True,Continuous Reference
881536,2023-02-07 12:00:00+00:00,157.616566,63.008375,61.702946,463,18.570911,13.975167,3.445466,9.139141,11.522119,...,1.758152,9.489511,18.555307,DefaultValue,Fishponds Road,"51.47804497171107, -2.535230274543903",2009-03-13T00:00:00+00:00,2015-12-31T00:00:00+00:00,True,Continuous Reference
881537,2023-02-07 12:00:00+00:00,228.622528,62.537157,108.474798,672,18.570911,13.975167,3.445466,9.139141,11.522119,...,1.758152,9.489511,18.555307,DefaultValue,Marlborough Street,"51.45914197176008, -2.595432718360466",2021-07-01T00:00:00+00:00,2015-12-31T00:00:00+00:00,True,Continuous Reference
881538,2023-02-07 14:00:00+00:00,198.958434,75.485843,80.472720,463,18.570911,13.975167,3.445466,9.139141,11.522119,...,1.758152,9.489511,18.555307,DefaultValue,Fishponds Road,"51.47804497171107, -2.535230274543903",2009-03-13T00:00:00+00:00,2015-12-31T00:00:00+00:00,True,Continuous Reference
881539,2023-02-07 13:00:00+00:00,103.990594,47.646219,36.737659,203,18.570911,13.975167,3.445466,9.139141,11.522119,...,1.758152,9.489511,18.555307,DefaultValue,Brislington Depot,"51.441747180510106, -2.5599558321904605",2001-01-01T00:00:00+00:00,2015-12-31T00:00:00+00:00,True,Continuous Reference

In [16]:
df_cleaned.to_csv('clean.csv', sep=',', index=False)